.wrapper{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .81);
}
.page{
    width: 60vw;
    min-width: 400px;
    height: 45vh;
    border-radius: 1.5rem;
    padding: 3vh 5vw ; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ffffff;
    position: fixed;
    left: 20vw;
    top: 30vh;
    color: #474444;
    font-size: 2.5rem;
    font-weight: 600;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action h3{
    width: 45%;
    height: 40px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cancel{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);
}

.confirm{
    color: #fff;
    background: #ff4b4b;
}
